*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

body {
    color: #e0b1cb;
    font-family: 'Syne';
    background: linear-gradient(180deg, #231942 0%, #231942 100%);
}
#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    object-fit: cover;
    z-index: -1;
    opacity: 1.3;
}
#overlay {
    height: 0;
    position: absolute;
    top: 20%;
    right:0;
    width: 55rem;
    box-shadow: 0 0 700px 15px rgb(255, 255, 255);
    rotate: -2deg;
    opacity: 1;
}


#logo{
    height: 8rem;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav a {

    text-decoration: none;
    color: #e0b1cb;
    font-size: 1.6rem;
    font-weight: 600;
}

#login-button{
  border: 2px solid #231942;
  background-color: #e0b1cb;
  color: #231942;
  padding: 0.5rem 2.5rem;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
#signup-button{
  border: 2px solid #231942;
  background-color: #e0b1cb;
  color: #231942;
  padding: 0.5rem 2.5rem;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
#login-button:hover, #signup-button:hover {
    background-color: #231942;
    color: #e0b1cb;
    border: 2px solid #e0b1cb;
    transition: all 0.1s ease;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e0b1cb;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

#title {
    text-align: center;
    font-size: 3rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
}
#subtitle {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#get-started-button {
  display: flex;
  margin: 0 auto;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  font-weight: 540;
  color: #231942;
  background-color: #e0b1cb;
  border: 2px solid #231942;
  border-radius: 30px;
  cursor: pointer;
}
#get-started-button:hover {
  background-color: #231942;
  color: #e0b1cb;
  border: 2px solid #e0b1cb;
  transition: all 0.1s ease;
}
.scribble{
  color:  #000000;
    background-color: #e0b1cb;
}
.second-container {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #e0b1cb;
    margin-top: 13rem;
    box-shadow: 0 0 700px 15px rgb(255, 255, 255);
}

#second-title{
    color: #231942;
    text-align: center;
    font-size: 4.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;

}
#second-subtitle{
    color: #231942;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#learn-more-button{
    border: none;
    display: flex;
    margin: 0 auto;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    font-weight: 540;
    color: #231942;
    background-color: #e0b1cb;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid #231942;
    
}
#learn-more-button:hover {
    background-color: #231942;
    color: #e0b1cb;
    transition: all 0.1s ease;
}
#ava-preview{
    display: block;
    margin: 3rem auto 6rem auto;
    width: 900px;
    height: auto;
    border-radius: 30px;
    border: #231942 4px solid;
}
@media (max-width: 1200px) {
    #ava-preview{
        width: 100%;
        height: auto;
    }
}
