*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    font-family: "Be Vietnam Pro", sans-serif;
    color: #333;
    font-size: 18px;
}
h1{
    color: #777C6D;
    text-align: center;
    margin-top: 4px;
    font-size: 70px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
}
input,
textarea {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.sign-in-form{
    width: 300px;
    height: 610px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  23px 23px 45px #d9d9d9,-23px -23px 45px #ffffff;
}
.sign-in-form label{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-weight: bold;
}
.sign-in-form input[type="text"],
.sign-in-form input[type="password"],
.sign-in-form input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: inset 23px 23px 45px #EEEEEE,inset -23px -23px 45px #ffffff91;
}
.sign-in-form input[type="text"]:focus,
.sign-in-form input[type="password"]:focus,
.sign-in-form input[type="email"]:focus{
    border-color: #888;
    outline: none;
}
.sign-in-form input[type="text"]:hover,
.sign-in-form input[type="password"]:hover,
.sign-in-form input[type="email"]:hover{
    border-color: #888;
}
h2{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 18px;
}

.checkbox-group{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.checkbox-group input[type="checkbox"]{
    appearance: none;
    border: 2px solid #777C6D;
    border-radius: 15px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: #B7B89F;
    border-color: #777C6D;
    border: 6px solid #777C6D;
    border-radius: 10px;
}

.checkbox-group input[type="checkbox"]:checked::after {
    color: #dddddd;
    border: 2px solid #B7B89F;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social{
    font-family: "Be Vietnam Pro", sans-serif;
    width: 45px;
    height: 45px;
    background-color: #EEEEEE;
    color: #777C6D;
    border-radius: 15px;
    border-style: solid;
    border-color: #CBCBCB;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.social:hover{
    filter: grayscale(50%);
    transition: all 0.1s ease;
}

.btn{
    font-family: "Be Vietnam Pro", sans-serif;
    width: 100%;
    padding: 10px;
    background: #777C6D;
    box-shadow: inset 23px 23px 45px #777C6D,inset -23px -23px 45px #ffffff91;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 70px;
}
.btn2{
    font-family: "Be Vietnam Pro", sans-serif;
    width: 100%;
    padding: 10px;
    box-shadow: inset 23px 23px 45px #B7B89F,inset -23px -23px 45px #ffffff00;
    color: #EEEEEE;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.btn:hover, .btn2:hover {
    filter: grayscale(50%);
    transition: all 0.1s ease;
}