*{
    margin: 0;
    padding: 0;

}
body{
    font-family: "Be Vietnam Pro", sans-serif;
    color: #333;
    font-size: 18px;
}
h1{
    color: #556ba8;
    text-align: center;
    margin-top: 4px;
    font-size: 70px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
}
input,
textarea {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.sign-in-form{
    width: 300px;
    height: 580px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sign-in-form label{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-weight: bold;
}
.sign-in-form input[type="text"],
.sign-in-form input[type="password"],
.sign-in-form input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
}
.sign-in-form input[type="text"]:focus,
.sign-in-form input[type="password"]:focus,
.sign-in-form input[type="email"]:focus{
    border-color: #556ba8;
    outline: none;
}
.sign-in-form input[type="text"]:hover,
.sign-in-form input[type="password"]:hover,
.sign-in-form input[type="email"]:hover{
    border-color: #888;
}
.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.social{
    font-family: "Be Vietnam Pro", sans-serif;
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    color: #556ba8;
    border-radius: 15px;
    border-style: solid;
    border-color: #aaaebb;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.social:hover{
    background-color: #f0f0f0;
    transition: all 0.1s ease;
}

.btn{
    font-family: "Be Vietnam Pro", sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #556ba8;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 70px;
}
.btn2{
    font-family: "Be Vietnam Pro", sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #252c3f;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.btn:hover, .btn2:hover{
    background-color: #394a70;
    transition: all 0.1s ease;
}